@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline-style: none;  */
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: middle;
    border: 0;
}

a {
    text-decoration: none;
    color: #000;
}

/* 위쪽은 기본작업입니다. */

html {
    font-size: 16px;
}

body {
    font-family: Spoqa Han Sans, "Sans-serif";
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.6px;
}

/* 공통요소(재사용할 내용) */

.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.inner {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1200px;

}

/* pop-up */
.popup {
    position: relative;
    display: block;
    width: 100%;
    background-image: radial-gradient(circle at 50% 527%, #ff896a, #e23000 119%);
    /* background: url('../images/top_banner_new-2x.1c59418.png') no-repeat center; */
    background-size: contain;
}

.popup .inner {
    position: relative;
    display: block;
    height: 60px;
}

.popup .inner a {
    position: relative;
    display: block;
    color: #fff;
    height: 100%;
    line-height: 60px;
    text-align: center;
}

.ad-first {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    font-weight: 300;
    font-size: 16px;
}

.ad-first-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    width: 50%;
    text-decoration: underline;
    text-decoration-thickness: .5px;
    text-underline-position: under;
    background-size: 20%;
    line-height: 60px;
    font-size: 16px;

}

.ad-first-exit {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: block;
    float: right;
}

.inner .ad-first-exit>a {
    display: block;
    font-size: 14px;
}

.ad-first-exit span {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: 30px;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
}

/* header */
.header {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    background-color: #000;
}

.header .inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 24px;
}

.left-header {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    height: 100%;
}

.logo {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    margin-right: 30px;
}

.logo img {
    display: block;
    width: 129px;
    height: 48px;
}

.gnb {
    position: relative;
    display: block;
    height: 100%;
}

.depth-1 {
    position: relative;
    display: block;
    height: 100%;
    margin-top: 18px;
}

.depth-1>li {
    position: relative;
    display: block;
    float: left;
    margin-right: 20px;
}

.depth-1 li a {
    position: relative;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}

.right-header {
    position: relative;
    display: block;
    width: 30%;
    height: 100%;
    float: right;
}

.sub_gnb {
    position: relative;
    display: block;
    height: 100%;
    float: left;
}

.sub-depth-1 {
    position: relative;
    display: block;
    height: 100%;
    height: 100%;
    margin-top: 18px;
}

.sub-depth-1>li {
    position: relative;
    display: block;
    float: left;
}

.sub-depth-1 li a {
    position: relative;
    display: block;
    color: #fff;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 18px;
}

.one-bar {
    position: absolute;
    top: -8%;
    right: -100%;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.login {
    position: relative;
    display: block;
    height: 100%;
    margin-left: 20px;
    float: left;
}

.login-list {
    position: relative;
    display: block;
    height: 100%;
    margin-top: 18px;
}

.login-list li {
    position: relative;
    display: block;
    float: left;
}

.login-list li a {
    position: relative;
    display: block;
    color: #fff;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 18px;
}

.right-icons {
    position: relative;
    display: block;
    margin-top: 10px;
    float: left;
}

.right-icons span {
    display: inline-block;
    padding-left: 20px;
    font-size: 30px;
    color: #fff
}

/* visual */
.visual {
    position: relative;
    display: block;
    height: 480px;
}

.visual-img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/main_firstgift_logout.29ecc8b.png) no-repeat center;
    background-size: cover;
}


/* event */
.event {
    position: relative;
    display: block;
    height: 100%;
}

.event .inner {
    width: 100%;
    height: 300px;
}

.sw-event {
    overflow: hidden;
}

.swiper-wrapper {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}

.swiper {
    width: 50%;
    height: 100%;
}

.swiper-slide-1 {
    background: url(../images/202206_event_summer-pc-banner-2.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.swiper-slide-2 {
    background: url(../images/banner-slide2.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.swiper-slide-3 {
    background: url(../images/banner-slide3.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.swiper-slide-4 {
    background: url(../images/banner-slide4.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.swiper-slide-5 {
    background: url(../images/banner-slide5.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.swiper-slide-6 {
    background: url(../images/banner-slide6.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.swiper-slide-7 {
    background: url(../images/banner-slide7.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.swiper-control {
    position: absolute;
    bottom: 67px;
    left: 0;
    width: 100px;
    height: 15px;
}

.swiper-button-next {
    display: block;
    width: 30px;
    height: 30px;
    background: url('../images/arrow.svg') no-repeat center;
    background-size: cover;
    color: #000;
    cursor: pointer;
}

.swiper-button-prev {
    display: block;
    width: 30px;
    height: 30px;
    background: url('../images/arrow.svg') no-repeat center;
    transform: rotate(180deg);
    background-size: cover;
    color: #000;
    cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

/* :root {
    --swiper-navigation-size: 16px
} */
.swiper-pagination-fraction {
    bottom: 4px;
}

.event-free-coupon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: url(../images/freshplan.9fe4775.png) no-repeat center;
    background-size: contain;
    width: 50%;
    height: 100%;

}

/* best-items */
.best-items {
    position: relative;
    display: block;
    height: 100%;
    margin-bottom: 20px;
}

.best-items h2 {
    font-size: 40px;
    padding: 20px;
}

.best-items .inner {
    height: 100%;
}

.best-items h3 {
    padding-top: 10px;
    font-size: 20px;
}

.best-items p {
    font-size: 16px;
    margin-bottom: 50px;
}

.items-list-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

}

.best-items-list {
    position: relative;
    display: block;
}

.best-items-list li {
    position: relative;
    display: block;
    margin-right: 40px;
    float: left;
}

.best-items-list li:nth-child(3n) {
    margin-right: 0;
}

.best-items-list li a {
    position: relative;
    display: block;
    width: 373px;
    height: 410px;
    background-color: #f9f7f8;
}

.best-items-list li h3 {
    font-size: 18px;
}

.best-items-list li p {
    font-size: 16px;
    color: #9b9b9b;

}

.items-img-1 {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    display: block;
    background: url(../images/porkbelly-fresh-list.png) no-repeat center;
    background-size: cover;
    width: 280px;
    height: 250px;
}

.items-img-2 {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    display: block;
    background: url(../images/chickef-cut-list.png) no-repeat center;
    background-size: cover;
    width: 280px;
    height: 250px;
}

.items-img-3 {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    display: block;
    background: url(../images/porkcutlet-sirloin-list.png) no-repeat center;
    background-size: cover;
    width: 280px;
    height: 250px;
}

.items-img-4 {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    display: block;
    background: url(../images/egg-fresh-list.png) no-repeat center;
    background-size: cover;
    width: 280px;
    height: 250px;
}

.items-img-5 {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    display: block;
    background: url(../images/milk-fresh-list.png) no-repeat center;
    background-size: cover;
    width: 280px;
    height: 250px;
}

.items-img-6 {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    display: block;
    background: url(../images/baby-hanuround-bmix-list.png) no-repeat center;
    background-size: cover;
    width: 280px;
    height: 250px;
}

.cart-img {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 68px;
    background-color: #fff;
    box-shadow: 0 25px 10px -15px rgb(0 0 0 / 12%);
}

.cart-img:hover {
    background-color: #333;
}

.cart-img span {
    display: block;
    text-align: center;
    font-size: 38px;
    line-height: 68px;
}

.cart-img:hover span {
    color: #fff;
}

/* ad */
.ad {
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.ad .inner {
    height: 100%;
}

.ad-img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/banner_shop.96086e0.png) no-repeat center;
    background-size: cover;
}

/* footer */
.footer {
    position: relative;
    display: block;
    margin-top: 200px;
    border-top: 2px solid #eee;
}

.footer .inner {}

.f-top {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
}

.company-law {
    position: relative;
    display: block;
    height: 100%;
    float: left;
}

.company-law span {
    position: relative;
    display: block;
    height: 100%;
    line-height: 60px;
    padding: 0 10px;
    font-size: 14px;
    float: left;
}

.app-icons {
    position: relative;
    display: block;
    float: right;
    padding-top: 15px;

}

.app-icons button {
    margin-top: -5px;
    margin-right: 20px;
    padding: 5px 10px;
    border: none;
    background-color: #fafafa;
    float: left;

}

.kakao-icon {
    display: block;
    background: url(../images/kakao_1.svg) no-repeat center;
    background-size: cover;
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 20px;

}

.ins-icon {
    display: block;
    background: url(../images/ins.svg) no-repeat center;
    background-size: cover;
    width: 24px;
    height: 24px;
    float: left;

}

.f-line {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 1px;
    border: 1px solid #eee;
}

.f-bottom {
    position: relative;
    display: block;
    height: 100%;
}

.bottom-left {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
}

.b-logo {
    display: block;
    width: 82px;
    height: 32px;
    margin: 15px 0;
    background: url('../images/f-logo.svg') no-repeat center;
    background-size: cover;
}

.companey-addr {}

.bottom-right {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    text-align: right;
    float: right;
}

.cs {
    font-size: 14px;
    font-weight: 700;
}

.phone {
    font-size: 24px;
    font-weight: 700;
    margin: -10px 0;
}

.open-time {
    font-size: 12px;
    color: #757575;
    line-height: 15px;
    margin-top: -3px;
}

.companey-email {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.companey-email a {
    color: #4bb8ce;
}

.bottom-btn {
    margin-bottom: 10px;
}

.bottom-btn button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #212121;
    border-radius: 4px;
    cursor: pointer;
}